
{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styleContent.css">
    <title>Curso {{item.title}}</title>   
{% endblock %}

{% block content %}

    <section class="uniq_course"> 

            <div  class="uniq_card" id="uniq_card-{{item.Num}}" curseName="{{item.id}}">
                <div id="uniq_imageCard-{{item.Num}}">
                    <img src="{{item.Img}}" alt="logo {{item.id}}">
                </div>
                <div class="uniq_textCard-{{item.Num}}">
                    <p><strong>{{item.Text}}</p>
                </div>
                <div class="startCurse-{{item.Num}}">
                    <a href="{{item.courseURL}}" target="_blank">Vamos começar!</a>
                </div>
            </div>

    </section>
{% endblock %}

