

@import "https://fonts.googleapis.com/css?family=Duru+Sans|Gilda+Display|Noto+Sans+JP:400,500,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --color-rocket: rgb(113, 89, 193);
    --color-background: rgb(11, 10, 13);
}

/* GERAL CSS */
* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: 'Roboto', regular;
    text-decoration: none;
}

/* HEADER CSS */

body {
    background: var(--color-background);
}

header {
    background: var(--color-rocket);
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#contentColor {
    background: rgb(21, 20, 26);
}

header #nameLogo {
    color: #ffffff;
    font-size: 22px;
    line-height: 28px;
    margin-right: 550px;
}

header .links {
    width: 560px;
}

header div a {
    color: #ffffff;
    font-size: 18px;
    line-height: 28px;
    margin-left: 0px;
    margin-right: 40px;
}

header img {
    margin-left: 30px;
    padding-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

header div a:hover {
    font-weight: bold;
    transition: 90ms;
    border-bottom: 1px solid #ffffff;
}

/* INFO CSS */

.pageTheme {
    width: 100%;
    color: white;
    font-size: 30px;
    line-height: 40px;
    padding: 15px;
    text-align: center;
}

/* CARDS */

.cards {
    max-width: 1250px;
    height: 680px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    width: 400px;
    height: 650px;
    background: rgb(21, 20, 26);
    cursor: pointer;
    color: white;
}

.modulosCard {
    width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* CARD-01 */

#numberCard-01 {
    display: flex;
    width: 48px;
    height: 48px;
    margin: 60px auto;
    align-items: center;
    justify-content: center;
    color: rgb(113, 89, 193);
    font-weight: bold;
    border: 2px solid rgb(113, 89, 193);
    border-radius: 50px;
}

#imageCard-01 {
    width: 135px;
    height: 145px;
    margin: 100px auto 50px auto;
}

.textCard-01 {
    max-width: 270px;
    text-align: center;
    color: rgb(135, 134, 139);
    font-size: 16px;
    line-height: 26px;
    margin: 0px auto;
}

.textCard-01 p strong {
    color: rgb(113, 89, 193);
}

#card-01:hover {
    transform: translateY(-7px);
    border: 3px solid rgb(113, 89, 193);
}

.mod01 {
    border-bottom: 2px solid rgb(113, 89, 193);
    padding: 3px;
    width: 100px;
    text-align: center;
}

.cardPrice-01 {
    width: 100px;
    background-color: rgb(113, 89, 193);
    padding: 5px 20px;
    margin: 0px auto;
    border-radius: 6px;
    text-align: center;
}

/* CARD-02 */

#numberCard-02 {
    display: flex;
    width: 48px;
    height: 48px;
    margin: 60px auto;
    align-items: center;
    justify-content: center;
    color: rgb(253, 149, 31);
    font-weight: bold;
    border: 2px solid rgb(253, 149, 31);
    border-radius: 50px;
}

#imageCard-02 {
    width: 135px;
    height: 145px;
    margin: 100px 183px 50px auto
}

.textCard-02 {
    max-width: 270px;
    text-align: center;
    color: rgb(135, 134, 139);
    font-size: 16px;
    line-height: 26px;
    margin: 0px auto;
}

.textCard-02 p strong {
    color: rgb(253, 149, 31);
}

#card-02:hover {
    transform: translateY(-7px);
    border: 3px solid rgb(253, 149, 31);
}

.mod02 {
    border-bottom: 2px solid rgb(253, 149, 31);
    padding: 3px;
    width: 100px;
    text-align: center;
}

.cardPrice-02 {
    width: 100px;
    background-color: rgb(253, 149, 31);
    padding: 5px 20px;
    margin: 0px auto;
    border-radius: 6px;
    text-align: center;
}

/* CARD-03 */

#numberCard-03 {
    display: flex;
    width: 48px;
    height: 48px;
    margin: 60px auto;
    align-items: center;
    justify-content: center;
    color: rgb(4, 211, 97);
    font-weight: bold;
    border: 2px solid rgb(4, 211, 97);
    border-radius: 50px;
}

#imageCard-03 {
    width: 135px;
    height: 145px;
    margin: 100px 146px 50px auto
}

.textCard-03 {
    max-width: 270px;
    text-align: center;
    color: rgb(135, 134, 139);
    font-size: 16px;
    line-height: 26px;
    margin: 0px auto;
}

.textCard-03 p strong {
    color: rgb(4, 211, 97);
}

#card-03:hover {
    transform: translateY(-7px);
    border: 3px solid rgb(4, 211, 97);
}

.mod03 {
    border-bottom: 2px solid rgb(4, 211, 97);
    padding: 3px;
    width: 100px;
    text-align: center;
}

.cardPrice-03 {
    width: 100px;
    background-color: rgb(4, 211, 97);
    padding: 5px 20px;
    margin: 0px auto;
    border-radius: 6px;
    text-align: center;
}

/* MODAL */

.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

.modal-overlay.active {
    visibility: visible;
}

.modal {
    background: white;
    width: 90%;
    height: 90%;
    position: relative;
    margin: 5vh auto;
}

.close-modal {
    color: black;
    cursor: pointer;
    top: 5px;
    right: 10px;
    position: absolute;
}

.max-modal {
    color: black;
    cursor: pointer;
    top: 7px;
    right: 43px;
    position: absolute;
}

.modal-content iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

/* MODAL FULLSCREEN */

.modal.fullscreen {
    width: 100%;
    height: 107%;
    position: relative;
    margin: 0px;
}

/* PAGE NOT FOUND */

.mainbox {
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
}

.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
}

.err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    left: 68%;
    top: 8%;
}

.msg {
    color: rgb(135, 134, 139);
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    position:absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

.notFound {
    color: rgb(4, 211, 97);
}

/* UNIQUE COURSE */


#uniq_card-01 {
    width: 700px;
    height: 450px;
    margin: 75px auto;
    background: rgb(21, 20, 26);
}

#uniq_imageCard-01 {
    width: 135px;
    height: 145px;
    margin: 0 auto;
    padding: 40px;
}

.uniq_textCard-01 {
    max-width: 400px;

    line-height: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;

    margin: 0px auto;
}

.uniq_textCard-01 p strong {
    color: rgb(113, 89, 193);
    font-size: 20px;
    line-height: 30px;
}

.startCurse-01 {
    width: 135px;
    background-color: rgb(113, 89, 193);
    padding: 5px 20px;
    margin: 35px auto;
    border-radius: 6px;
}

.startCurse-01 a {
    width: 125px;
    text-align: center;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(16, 15, 18);  
}

/* ======== */

#uniq_card-02 {
    width: 700px;
    height: 450px;
    margin: 75px auto;
    background: rgb(21, 20, 26);
}

#uniq_imageCard-02 {
    width: 135px;
    height: 145px;
    margin: 0px auto;
    padding: 40px;
    padding-right: 145px;
}


.uniq_textCard-02 {
    max-width: 400px;

    line-height: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;

    margin: 0px auto;
}

.uniq_textCard-02 p strong {
    color: rgb(253, 149, 31);
    font-size: 20px;
    line-height: 30px;
}

.startCurse-02 {
    width: 135px;
    background-color: rgb(253, 149, 31);
    padding: 5px 20px;
    margin: 35px auto;
    border-radius: 6px;
}

.startCurse-02 a {
    width: 125px;
    text-align: center;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(16, 15, 18);  
}

/* ======== */

#uniq_card-03 {
    width: 700px;
    height: 450px;
    margin: 75px auto;
    background: rgb(21, 20, 26);
}

#uniq_imageCard-03 {
    width: 135px;
    height: 145px;
    margin: 0px auto;
    padding: 40px;
    padding-right: 145px;
}

#uniq_imageCard-03 img {
    margin-left: 43px;
}

.uniq_textCard-03 {
    max-width: 400px;

    line-height: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;

    margin: 0px auto;
}

.uniq_textCard-03 p strong {
    color: rgb(4, 211, 97);
    font-size: 20px;
    line-height: 30px;
}

.startCurse-03 {
    width: 135px;
    background-color: rgb(4, 211, 97);
    padding: 5px 20px;
    margin: 35px auto;
    border-radius: 6px;
}

.startCurse-03 a {
    width: 125px;
    text-align: center;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(16, 15, 18);  
}













